In [11]:
import pandas as pd
import numpy as np

In [13]:
dtype_spec = {
    'column_5_name': 'str',  # Replace 'column_5_name' with actual column name
    'column_7_name': 'str'   # Replace 'column_7_name' with actual column name
}

In [15]:
# Load the dataset in chunks with specified dtype for columns 5 and 7
chunk_size = 100000  # Adjust based on memory
chunks = []

In [17]:
for chunk in pd.read_csv('merged_citibike_weather.csv', chunksize=chunk_size, dtype=dtype_spec, low_memory=False):
    chunks.append(chunk)

In [19]:
# Concatenate the chunks into a single dataframe
df = pd.concat(chunks, ignore_index=True)

In [21]:
# Take a 25% sample of the dataframe
subset_df = df.sample(frac=0.25, random_state=42).reset_index(drop=True)

In [23]:
subset_df.iloc[:, [4, 6]].head()

            start_station_name                   end_station_name
0  Central Park West & W 85 St  Grand Army Plaza & Central Park S
1             W 4 St & 7 Ave S            W 16 St & The High Line
2   Menahan St & Onderdonk Ave              N 12 St & Bedford Ave
3          Hope St & Union Ave                     38 St & 30 Ave
4              6 Ave & W 33 St                 Broadway & W 29 St

In [25]:
subset_df.iloc[:, [5, 7]].head()

  start_station_id end_station_id
0          7354.01        6839.10
1          5880.02        6233.05
2          5034.03        5450.04
3          5187.03        6850.01
4          6364.07        6289.06

In [27]:
subset_df.iloc[:, 5] = pd.to_numeric(subset_df.iloc[:, 5], errors='coerce')

In [29]:
subset_df.iloc[:, 7] = pd.to_numeric(subset_df.iloc[:, 7], errors='coerce')

In [31]:
# Display the column names
subset_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'date', 'Date', 'AvgTemp(C)', '_merge'],
      dtype='object')

In [33]:
# Inspect the first few rows of start_station_name and end_station_name
subset_df[['start_station_name', 'end_station_name']].head()

            start_station_name                   end_station_name
0  Central Park West & W 85 St  Grand Army Plaza & Central Park S
1             W 4 St & 7 Ave S            W 16 St & The High Line
2   Menahan St & Onderdonk Ave              N 12 St & Bedford Ave
3          Hope St & Union Ave                     38 St & 30 Ave
4              6 Ave & W 33 St                 Broadway & W 29 St

In [35]:
# Check the data types of start_station_name and end_station_name
subset_df[['start_station_name', 'end_station_name']].dtypes

start_station_name    object
end_station_name      object
dtype: object

In [40]:
# Check the data types of start_station_id and end_station_id
subset_df[['start_station_id', 'end_station_id']].dtypes

start_station_id    object
end_station_id      object
dtype: object

In [42]:
print("Unique values in start_station_id:", subset_df['start_station_id'].unique())

Unique values in start_station_id: [7354.01 5880.02 5034.03 ... 3950.03 3925.03 4129.1]

In [44]:
# Inspect a few more rows to understand the pattern
subset_df[['start_station_id', 'end_station_id']].head(20)

   start_station_id end_station_id
0           7354.01         6839.1
1           5880.02        6233.05
2           5034.03        5450.04
3           5187.03        6850.01
4           6364.07        6289.06
5            4455.1        4225.14
6           6115.09        6569.07
7           7463.09        7436.11
8           8111.04        7738.04
9           7311.02        5788.13
10          6560.15        6131.12
11          7812.01        7314.03
12          4546.04        4419.03
13          6319.07        6179.07
14          8616.06        8655.02
15          5755.09        5626.06
16          6822.09        6122.09
17          4993.15        5653.12
18           5379.1        4608.01
19           7837.3        7795.09

In [50]:
print("NaN values in start_station_id:", subset_df['start_station_id'].isnull().sum())
print("NaN values in end_station_id:", subset_df['end_station_id'].isnull().sum())

NaN values in start_station_id: 134
NaN values in end_station_id: 18247

In [54]:
station_reference_df = subset_df[['start_station_name', 'start_station_id']].dropna().drop_duplicates()

In [56]:
station_reference_df.head()

            start_station_name  start_station_id
0  Central Park West & W 85 St           7354.01
1             W 4 St & 7 Ave S           5880.02
2   Menahan St & Onderdonk Ave           5034.03
3          Hope St & Union Ave           5187.03
4              6 Ave & W 33 St           6364.07

In [58]:
station_name_to_id = dict(zip(station_reference_df['start_station_name'], station_reference_df['start_station_id']))

In [60]:
subset_df['start_station_id'] = subset_df.apply(
    lambda row: station_name_to_id.get(row['start_station_name'], row['start_station_id']),
    axis=1
)

In [62]:
end_station_reference_df = subset_df[['end_station_name', 'end_station_id']].dropna().drop_duplicates()
end_station_name_to_id = dict(zip(end_station_reference_df['end_station_name'], end_station_reference_df['end_station_id']))

In [64]:
subset_df['end_station_id'] = subset_df.apply(
    lambda row: end_station_name_to_id.get(row['end_station_name'], row['end_station_id']),
    axis=1
)

In [66]:
print("Remaining NaN values in start_station_id:", subset_df['start_station_id'].isnull().sum())
print("Remaining NaN values in end_station_id:", subset_df['end_station_id'].isnull().sum())

Remaining NaN values in start_station_id: 0
Remaining NaN values in end_station_id: 0

In [68]:
subset_df[['start_station_name', 'start_station_id', 'end_station_name', 'end_station_id']].head()

,start_station_name,start_station_id,end_station_name,end_station_id
0,Central Park West & W 85 St,7354.01,Grand Army Plaza & Central Park S,6839.10
1,W 4 St & 7 Ave S,5880.02,W 16 St & The High Line,6233.05
2,Menahan St & Onderdonk Ave,5034.03,N 12 St & Bedford Ave,5450.04
3,Hope St & Union Ave,5187.03,38 St & 30 Ave,6850.01
4,6 Ave & W 33 St,6364.07,Broadway & W 29 St,6289.06

In [70]:
subset_df['start_station_id'] = subset_df['start_station_id'].astype(float).astype(int)
subset_df['end_station_id'] = subset_df['end_station_id'].astype(float).astype(int)

In [72]:
subset_df[['start_station_id', 'end_station_id']].head()

   start_station_id  end_station_id
0              7354            6839
1              5880            6233
2              5034            5450
3              5187            6850
4              6364            6289

In [74]:
print(subset_df[['start_station_id', 'end_station_id']].dtypes)

start_station_id    int32
end_station_id      int32
dtype: object

In [82]:
print(subset_df.head)

<bound method NDFrame.head of                   ride_id  rideable_type               started_at  \
0        25098D3FFB6B3BBD  electric_bike  2022-07-04 17:00:41.408
1        FCED437CC64165BA   classic_bike  2022-01-14 09:18:35.838
2        22DE76A19BAD1251  electric_bike  2022-10-09 17:35:17.370
3        1A009107ED10A6FB  electric_bike  2022-08-05 19:10:15.391
4        2B63FBA517507650   classic_bike  2022-05-10 15:28:01.330
...                   ...            ...                      ...
7459697  2399951166DFCE8D   classic_bike  2022-09-09 10:25:02.087
7459698  7D4388405E697D82   classic_bike  2022-06-10 18:37:51.609
7459699  29EF8C9CC7CCE34B   classic_bike  2022-11-21 18:36:15.788
7459700  5E2D4D6F5F4A778E  electric_bike  2022-08-23 15:52:52.913
7459701  91EF495E568A6AD8  electric_bike  2022-11-09 19:59:26.001

                        ended_at             start_station_name  \
0        2022-07-04 17:19:00.525    Central Park West & W 85 St
1        2022-01-14 09:27:58.570               W 4 St & 7 Ave S
2        2022-10-09 18:08:06.487     Menahan St & Onderdonk Ave
3        2022-08-05 19:38:10.967            Hope St & Union Ave
4        2022-05-10 15:29:29.183                6 Ave & W 33 St
...                          ...                            ...
7459697  2022-09-09 10:32:04.677               W 26 St & 10 Ave
7459698  2022-06-10 18:48:28.071        Graham Ave & Herbert St
7459699  2022-11-21 18:40:22.958  North Moore St & Greenwich St
7459700  2022-08-23 15:59:23.954     Schermerhorn St & Court St
7459701  2022-11-09 20:24:38.860               W 54 St & 11 Ave

         start_station_id                   end_station_name  end_station_id  \
0                    7354  Grand Army Plaza & Central Park S            6839
1                    5880            W 16 St & The High Line            6233
2                    5034              N 12 St & Bedford Ave            5450
3                    5187                     38 St & 30 Ave            6850
4                    6364                 Broadway & W 29 St            6289
...                   ...                                ...             ...
7459697              6382                    W 35 St & 8 Ave            6526
7459698              5403              N 12 St & Bedford Ave            5450
7459699              5470               Hudson St & Reade St            5359
7459700              4565                  Sands St & Jay St            4821
7459701              6955              Washington Pl & 6 Ave            5838

         start_lat  start_lng    end_lat    end_lng member_casual        date  \
0        40.784760 -73.969862  40.764397 -73.973715        casual  2022-07-04
1        40.734011 -74.002939  40.743349 -74.006818        member  2022-01-14
2        40.705580 -73.909559  40.720798 -73.954847        member  2022-10-09
3        40.711662 -73.951458  40.764175 -73.915840        member  2022-08-05
4        40.749013 -73.988484  40.746201 -73.988557        member  2022-05-10
...            ...        ...        ...        ...           ...         ...
7459697  40.749718 -74.002950  40.752762 -73.992805        member  2022-09-09
7459698  40.719293 -73.945004  40.720798 -73.954847        member  2022-06-10
7459699  40.720195 -74.010301  40.716250 -74.009106        member  2022-11-21
7459700  40.691029 -73.991834  40.700119 -73.986200        member  2022-08-23
7459701  40.767833 -73.992726  40.732241 -74.000264        member  2022-11-09

         Date  AvgTemp(C)     _merge
0         NaN         NaN  left_only
1         NaN         NaN  left_only
2         NaN         NaN  left_only
3         NaN         NaN  left_only
4         NaN         NaN  left_only
...       ...         ...        ...
7459697   NaN         NaN  left_only
7459698   NaN         NaN  left_only
7459699   NaN         NaN  left_only
7459700   NaN         NaN  left_only
7459701   NaN         NaN  left_only

[7459702 rows x 17 columns]>

In [84]:
# Check for missing or invalid values in the 'date' column
print("Missing values in date column:", subset_df['date'].isnull().sum())

Missing values in date column: 0

In [86]:
subset_df[['date']].head()

         date
0  2022-07-04
1  2022-01-14
2  2022-10-09
3  2022-08-05
4  2022-05-10

In [90]:
weather_df = pd.read_csv('laguardia_weather_2022.csv')

In [92]:
weather_df['date'] = pd.to_datetime(weather_df['date'])
subset_df['date'] = pd.to_datetime(subset_df['date'])

KeyError: 'date'

In [94]:
print(weather_df.columns)

Index(['Date', 'AvgTemp(C)'], dtype='object')

In [96]:
# Rename the 'Date' column to 'date'
weather_df.rename(columns={'Date': 'date'}, inplace=True)

In [98]:
# Convert the date columns in both datasets to datetime format
subset_df['date'] = pd.to_datetime(subset_df['date'], format='%Y-%m-%d')
weather_df['date'] = pd.to_datetime(weather_df['date'], format='%Y-%m-%d')

In [100]:
merged_df = pd.merge(subset_df, weather_df, on='date', how='left')

In [102]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,Date,AvgTemp(C)_x,_merge,AvgTemp(C)_y
0,25098D3FFB6B3BBD,electric_bike,2022-07-04 17:00:41.408,2022-07-04 17:19:00.525,Central Park West & W 85 St,7354,Grand Army Plaza & Central Park S,6839,40.784760,-73.969862,40.764397,-73.973715,casual,2022-07-04,NaN,NaN,left_only,25.6
1,FCED437CC64165BA,classic_bike,2022-01-14 09:18:35.838,2022-01-14 09:27:58.570,W 4 St & 7 Ave S,5880,W 16 St & The High Line,6233,40.734011,-74.002939,40.743349,-74.006818,member,2022-01-14,NaN,NaN,left_only,4.8
2,22DE76A19BAD1251,electric_bike,2022-10-09 17:35:17.370,2022-10-09 18:08:06.487,Menahan St & Onderdonk Ave,5034,N 12 St & Bedford Ave,5450,40.705580,-73.909559,40.720798,-73.954847,member,2022-10-09,NaN,NaN,left_only,12.3
3,1A009107ED10A6FB,electric_bike,2022-08-05 19:10:15.391,2022-08-05 19:38:10.967,Hope St & Union Ave,5187,38 St & 30 Ave,6850,40.711662,-73.951458,40.764175,-73.915840,member,2022-08-05,NaN,NaN,left_only,29.3
4,2B63FBA517507650,classic_bike,2022-05-10 15:28:01.330,2022-05-10 15:29:29.183,6 Ave & W 33 St,6364,Broadway & W 29 St,6289,40.749013,-73.988484,40.746201,-73.988557,member,2022-05-10,NaN,NaN,left_only,15.4

In [104]:
# Drop the 'AvgTemp(C)_x' column as it contains NaN values
merged_df.drop(columns=['AvgTemp(C)_x'], inplace=True)

In [106]:
# Rename 'AvgTemp(C)_y' to 'AvgTemp(C)'
merged_df.rename(columns={'AvgTemp(C)_y': 'AvgTemp(C)'}, inplace=True)

In [108]:
# Check the first few rows after cleaning
merged_df[['date', 'AvgTemp(C)', '_merge']].head()

        date  AvgTemp(C)     _merge
0 2022-07-04        25.6  left_only
1 2022-01-14         4.8  left_only
2 2022-10-09        12.3  left_only
3 2022-08-05        29.3  left_only
4 2022-05-10        15.4  left_only

In [110]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,Date,_merge,AvgTemp(C)
0,25098D3FFB6B3BBD,electric_bike,2022-07-04 17:00:41.408,2022-07-04 17:19:00.525,Central Park West & W 85 St,7354,Grand Army Plaza & Central Park S,6839,40.784760,-73.969862,40.764397,-73.973715,casual,2022-07-04,NaN,left_only,25.6
1,FCED437CC64165BA,classic_bike,2022-01-14 09:18:35.838,2022-01-14 09:27:58.570,W 4 St & 7 Ave S,5880,W 16 St & The High Line,6233,40.734011,-74.002939,40.743349,-74.006818,member,2022-01-14,NaN,left_only,4.8
2,22DE76A19BAD1251,electric_bike,2022-10-09 17:35:17.370,2022-10-09 18:08:06.487,Menahan St & Onderdonk Ave,5034,N 12 St & Bedford Ave,5450,40.705580,-73.909559,40.720798,-73.954847,member,2022-10-09,NaN,left_only,12.3
3,1A009107ED10A6FB,electric_bike,2022-08-05 19:10:15.391,2022-08-05 19:38:10.967,Hope St & Union Ave,5187,38 St & 30 Ave,6850,40.711662,-73.951458,40.764175,-73.915840,member,2022-08-05,NaN,left_only,29.3
4,2B63FBA517507650,classic_bike,2022-05-10 15:28:01.330,2022-05-10 15:29:29.183,6 Ave & W 33 St,6364,Broadway & W 29 St,6289,40.749013,-73.988484,40.746201,-73.988557,member,2022-05-10,NaN,left_only,15.4

In [112]:
# Drop the 'Date' column
merged_df.drop(columns=['Date'], inplace=True)

In [114]:
# Verify the cleaned dataset
merged_df[['date', 'AvgTemp(C)', '_merge']].head()

        date  AvgTemp(C)     _merge
0 2022-07-04        25.6  left_only
1 2022-01-14         4.8  left_only
2 2022-10-09        12.3  left_only
3 2022-08-05        29.3  left_only
4 2022-05-10        15.4  left_only

In [116]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,_merge,AvgTemp(C)
0,25098D3FFB6B3BBD,electric_bike,2022-07-04 17:00:41.408,2022-07-04 17:19:00.525,Central Park West & W 85 St,7354,Grand Army Plaza & Central Park S,6839,40.784760,-73.969862,40.764397,-73.973715,casual,2022-07-04,left_only,25.6
1,FCED437CC64165BA,classic_bike,2022-01-14 09:18:35.838,2022-01-14 09:27:58.570,W 4 St & 7 Ave S,5880,W 16 St & The High Line,6233,40.734011,-74.002939,40.743349,-74.006818,member,2022-01-14,left_only,4.8
2,22DE76A19BAD1251,electric_bike,2022-10-09 17:35:17.370,2022-10-09 18:08:06.487,Menahan St & Onderdonk Ave,5034,N 12 St & Bedford Ave,5450,40.705580,-73.909559,40.720798,-73.954847,member,2022-10-09,left_only,12.3
3,1A009107ED10A6FB,electric_bike,2022-08-05 19:10:15.391,2022-08-05 19:38:10.967,Hope St & Union Ave,5187,38 St & 30 Ave,6850,40.711662,-73.951458,40.764175,-73.915840,member,2022-08-05,left_only,29.3
4,2B63FBA517507650,classic_bike,2022-05-10 15:28:01.330,2022-05-10 15:29:29.183,6 Ave & W 33 St,6364,Broadway & W 29 St,6289,40.749013,-73.988484,40.746201,-73.988557,member,2022-05-10,left_only,15.4

In [118]:
# Save the final cleaned dataset
merged_df.to_csv('cleaned_citibike_weather_final.csv', index=False)